	/*
	drawPie.css
	
	here the default size of 30px x 30px can be changed
	
	by Eisenhut Patrick, Graf Arnold 2014
	*/
	.circle{
		width: 30px;
		height: 30px;
		padding: 1px;
		-webkit-transform-origin: center !important;
		transform-origin: center !important;
	}

	.slice-outer{
		position:absolute;
		width:30px;
		height:30px;
		clip:rect(0px,30px,30px,15px);
	}
	.slice-outer.gt50, .slice-outer.full{
		clip: auto;
	}
	.slice{
		position:absolute;
		width:30px;
		height:30px;
		clip:rect(0px,15px,30px,0px);
		border-radius:100%; 
	}
	.slice-outer.full > .slice{
		clip: auto;
	}
